@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

.container {
    display: grid;
    border: 1px solid black;
    width: auto;
    margin: 10px;
    padding-right: 10px;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: 100px 250px 200px;
    grid-template-areas: 
    "b1 b1 b1"
    "b2 b2 b3"
    "b4 b5 b3";
    row-gap: 10px;
    column-gap: 5px;
    /* align-items: center;
    justify-items: center; */
}

.box {
    border: 1px solid blue;
    background-color: tomato;
}

#box-1 {
    grid-area: b1;
}

#box-2 {
    grid-area: b2;
}

#box-3 {
    grid-area: b3;
}

#box-4 {
    grid-area: b4;
    align-self: end;
    justify-self: center;
    height: 100px;
}

#box-5 {
    grid-area: b5;
}