@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    background-color: #f0c0ea;
}

.container {
    width: 80%;
    height: 70vh;
    background-color: #ffffff;
    border-radius: 5%;

    margin: auto;
    margin-top: 5%;

    border: 1px solid black;
}

.fields {
    margin: 5% 10%;
}

#title-login {
    font-size: 18px;
    font-weight: bold;
    color: #404142;
    margin-bottom: 5%;
}

.pink-font {
    color: #E8258E;
}

.login {
    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.login > input {
    
}